# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
/projects/vs2013/MediaSystem.sdf
/projects/vs2013/MediaSystem.v12.suo
Debug
